@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, sans-serif;
    color: #333333;
}

.t-bubble-wrapper {
    width: 576px;
    margin: 0 auto;
}

.t-bubble-wrapper:first-child {
    margin-top: 30px;
}

.t-bubble-background {
    min-width: 576px;
    min-height: 350px;
    background-repeat: no-repeat;

    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='576' height='288' viewBox='0 0 576 288'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23AAAAAA' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M 405 220 C 270 265 165 310 105 250 C 60 205 15 130 90 55 C 165 -35 345 10 465 70 C 525 100 510 175 405 220 Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
}

.t-bubble-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}

h4 {
    font-weight: lighter;
    font-size: 32pt;
    margin: 32pt 0;
}

p {
    font-size: 16pt;
}